body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
.navbar {
  height: 5rem;
  background-color: white;
}
.navbar-brand {
  margin-right: 5rem;
}
.host:hover {
  background-color: whitesmoke;
  border-radius: 3rem;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
  margin-right: 3rem;
}

.nav-link {
  color: #222222 !important;
}

.search-btn {
  background-color: #fe424d;
  color: white;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}
.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}
.search-btn:hover {
  background-color: #fe424d;
  color: white;
}
.search-inp {
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 1rem;
}
/* Footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info {
  height: 8rem;
  display: flex;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
}

/* Cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0;
}

.card-text p {
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
  color: #222222;
}
.listing-link:hover {
  text-decoration: none;
  color: #222222;
}

/* Card-Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Page */
.add-btn {
  background-color: #fe424d !important;
  border: none;
  color: white;
}

/* Edit Page */

.edit-btn {
  background-color: #fe424d !important;
  border: none;
  color: white;
}

/* Show page */

.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

/* Index page */
/* #filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.filter p {
  font-size: 0.8rem;
}

.tax-info {
    display: none;
}

.tax-toggle{
    border:1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* map */

#map {
  height: 400px;
  width: 80vh;
}
